services:
  backend:
    build: ./server
    container_name: backend
    restart: unless-stopped
    env_file:
      - ./server/.env
    ports:
      - "5001:5001"

  frontend:
    build: ./client
    container_name: frontend
    restart: unless-stopped
    env_file:
      - ./client/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend
