version: "3.9"

services:
  backend:
    build: 
      context: ./server
    container_name: backend
    restart: unless-stopped
    env_file:
      - ./server/.env
    ports:
      - "5001:5001"

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: "http://16.171.170.8:5001/api"
    container_name: frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
